@font-face {
  font-family: 'Industry';
  src: local('Industry'),url(constants/fonts/Industry/Industry-Medium.ttf) format('otf'),
  url(constants/fonts/Industry/Industry-Black.ttf) format('otf'),
  url(constants/fonts/Industry/Industry-Book.ttf) format('otf')


}

body {
  margin: 0;
  font-family: 'Industry';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
